<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-left">
            <div class="name-container">
                <span class="name">Mason Yen</span>
                <span class="job">/ Product Manager</span>
            </div>
        </div>
        <div class="navbar-right">
            <div class="navbar-toggler-container">
                <div class="dropdown">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="dropdown-content">
                    <a href="#">About me</a>
                    <a href="resume.html">Resume</a>
                    <a href="projects.html">Projects</a>
                    <a href="#">Contact Me</a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link activity" href="#">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resume.html">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="projects.html">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Center-->
    <div class="container-fluid">
        <div class="panel left">
            <div class="card">
                <div class="image-container">
                    <img src="Image.png"
                        alt="Profile Image">
                </div>
                <div class="text-container">
                    <h2>Mason<br> Yen</h2>
                    <p>Product Manager</p>
                </div>
                <div class="social-icons">
                    <a href="https://www.facebook.com"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="https://www.twitter.com"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="https://www.linkedin.com"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </div>
        <div class="panel right">
            <div class="content-container">
                <div class="text">
                    <p class="h1">Hello</p>
                    <p class="h2">Here's who I am and what I do</p>
                </div>
                <div class="button">
                    <a href="resume.html">
                        <button class="resume-button btn btn-lg">RESUME</button>
                    </a>

                    <a href="projects.html">
                        <button class="projects-button btn btn-lg">PROJECTS</button>
                    </a>
                </div>
                <p class="self-introduction">Experienced in the blockchain industry with a deep understanding<br>
                    of the ecosystem.Skilled in product management and analysis, with prior <br>
                    roles as a Product Manager for a blockchain startup and an Analyst<br>
                    for a blockchain fund. Proficient in content creation, <br>
                    having written weekly reports and scripts for YouTube videos.</p>
            </div>
        </div>
    </div>
    </div>
    <!--Footer-->
    <footer>
        <div class="copyright">
            <p>© 2021 Mason Yen</p>
        </div>
        <div class="contact">
            <div class="social-icons">
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f fa-2x "></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter fa-2x "></i></a>
                <a href="https://www.linkedin.com"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-2x "></i></a>
            </div>
        </div>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
    <script src="app.js"></script>

</body>

</html>